@media screen and (max-width: 1440px) {
  .search {
    margin: 40px auto;
  }
}

@media screen and (max-width: 1024px) {
  .search {
    margin: 40px calc(50vw - 8em);
  }
}
@media screen and (max-width: 768px) {
  .search {
    margin: 40px calc(50vw - 8em);
  }
}

.search {
  grid-area: search;
  /* margin: 3em 0; */
  width: 200px;
  height: 45px;
  border-radius: 8px;
  border: none;
  padding: 5px 20px;
  outline: none;
}

/* .wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
} */

/* .navigation .text {
  display: inline-flex;
  margin: 20px 0;
} */

/* .character {
  text-align: center;
} */
